@import "tailwindcss";

@theme {
  /* ... (Kode warna Anda yang sudah ada tetap di sini) ... */
  --color-retro-bg: #EAEBD0;
  --color-retro-light: #DA6C6C;
  --color-retro-primary: #CD5656;
  --color-retro-dark: #AF3E3E;
  --color-retro-text: #3E2723;

 --font-display: 'Syne', sans-serif;
  --font-body: 'Space Mono', monospace;

  /* --- TAMBAHAN ANIMASI --- */
  --animate-marquee: marquee 15s linear infinite;
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
}

body {
  background-color: var(--color-retro-bg);
  color: var(--color-retro-text);
  font-family: var(--font-body); 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}